@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?kjbnun');
    src:  url('../fonts/icomoon.eot?kjbnun#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?kjbnun') format('truetype'),
      url('../fonts/icomoon.woff?kjbnun') format('woff'),
      url('../fonts/icomoon.svg?kjbnun#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: '微软雅黑';
    font-size:12px;
    background-color: #eeeeee;
    
}
body{
    line-height: 1;
}
b,strong,em,i{
    font-style: normal;
}
.clear:after{
        content: '';
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
        overflow: hidden;
}
.clear{
    zoom:1;
}
ul,ol li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
    border: 0;
}
input{
    outline: none;
}
input[type='button'], input[type='submit'], input[type='file']{
    cursor: pointer;
    

}
