/* 重置样式 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?kjbnun');
    src:  url('../fonts/icomoon.eot?kjbnun#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?kjbnun') format('truetype'),
      url('../fonts/icomoon.woff?kjbnun') format('woff'),
      url('../fonts/icomoon.svg?kjbnun#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  

*{
    margin:0;
    padding:0;
}
img{
    vertical-align: top;
}
a{
    text-decoration:none;
}
ul, ol{
    list-style:none;
}
h1,h2,h3,h4,h5,h6,strong,i{
    font-weight:normal;
}
.center{
    width: 1400px;
    margin: 0 auto;
    /* background-color: pink; */
    display: flex;
}


.body_index{
    background: url(../img/bg_img.jpg) no-repeat;
    background-size: 100% auto;
}
.box{
    position: relative;
    width: 100vw;
    height: 100vh;
}

img{
    vertical-align: top;
}
.header{
    width: 100vw;
    height: 100px;
    background-color: rgba(44, 44, 44, 0.8);
    /*  */
}
.header img{
    width: 80px;
    height: auto;
    
}
.header .center>ul{
    width: 800px;
    /* background-color: orange; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header .center>ul li{
    /* display: block; */
    /* width: 100px; */
    /* background-color: purple; */
    float: left;
    margin-right: 32px;
    cursor: pointer;
}
.header ul li a{
    color: white;
}

.content img{
    width: 100%;
    height: auto;
}
.header .icons{
    width: 200px;
    flex:1;
    /* background-color: antiquewhite; */
    font-family: 'icomoon';
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header .icons a{
    display: block;
    width: 35px;
    height: 35px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 20px;
    transition: .2s;
}
.header .icons a:hover {
    background: #e75806;
}
.content{
    width: 800px;
    height: 600px;
    /* background-color: yellow; */
    position: absolute;
    right: 50px;
    top: 200px;
    text-align: center;
    line-height: 1;
}
.content .hello{
    width: 500px;
    height: 100px;
    border: 1px solid skyblue;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #111; */
    
    
    
}
.content .hello span{
    font-size: 100px;
    font-weight: bold;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 5px;
    filter: blur(2px);
    /* 滤镜属性 设置高斯模糊 */
    animation: animate 3s linear infinite;
    /* 动画名称 时长 线性 无限次播放 */
}
.content .hello span:nth-child(1){
    animation-delay: 0s;
}
.content .hello span:nth-child(2){
    animation-delay: 0.5s;
}
.content .hello span:nth-child(3){
    animation-delay: 1s;
}
.content .hello span:nth-child(4){
    animation-delay: 1.5s;
}
.content .hello span:nth-child(5){
    animation-delay: 2s;
}
.content .hello span:nth-child(6){
    animation-delay: 2.5s;
}
@keyframes animate{
    0%,100%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 
        0 0 10px #accbee,
        0 0 20px #accbee,
        0 0 30px #accbee,
        0 0 40px #accbee,
        0 0 100px #accbee,
        0 0 200px #accbee,
        0 0 300px #accbee,
        0 0 400px #accbee;
       
    }
    5%,95%{
        color: #111;
        filter: blur(0px);
        text-shadow: none;
        
    }
}
.content h2{
    margin-bottom: 20px;
    font-size: 50px;
}
.content h3{
    font-size: 40px;
}
.footer{
    width: 100vw;
    height: 100px;
    background-color: rgba(44, 44, 44, 0.8);
    position: absolute;
    bottom:0;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    font-size: 20px;
    
}

